@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
    font-family:'Rajdhani', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap')
}
@font-face {
    font-family:'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap')
}
.font{
    font-family: 'Rajdhani', sans-serif;
}
.font1{
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.font2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:#90a4ae
}
/*.content:hover {*/
    /*box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);*/
    /*border-color: #eee;*/
    /*transition: all 0.2s ease-in-out;*/
/*}*/
.orange{
    color:#F1831D;

}
.menuTitle{
    font-family:Comic Sans MS;
    font-size:30px;
    color: #ffffff;
    text-align: center;
}
.subMenu{
    font-family:Comic Sans MS;
    font-size:18px;
    color: #ffffff;
}
.reading{
    font-family:Comic Sans MS;
    color: #E41A6A;
    cursor:pointer
}
.reading:hover{
    text-decoration:underline;
    transition: all 0.2s ease-in-out;
}
.math{
    font-family:Comic Sans MS;
    color:#F1831D;
    cursor:pointer

}
.math:hover{
    text-decoration:underline;
    transition: all 0.2s ease-in-out;
}
.science{
    font-family:Comic Sans MS;
    color: #2EAFB0;
    cursor:pointer
}
.science:hover{
    text-decoration:underline;
    transition: all 0.2s ease-in-out;
}