@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
  font-family:'Rajdhani', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap')
}
@font-face {
  font-family:'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap')
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5
}
.cell-wall {
  display: flex;
  justify-content: center;
  width: 100%;
}
/*
  MOBILE

  device: < 480px
*/
@media screen and (max-width: 480px) {
  .cell-membrane {
    flex-basis: 90vw;
  }
}

/*
  DESKTOP

  device: > 480px
*/
@media screen and (min-width: 480px) {
  .cell-membrane {
    flex-basis: 83.125vw;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  text-align: center;
}